
<md-menu #appMenu="mdMenu" yPosition="above">
  <button md-menu-item (click)="openFile()"> Open... </button>
  <button md-menu-item (click)="help()"> Help </button>
</md-menu>

<button md-icon-button [mdMenuTriggerFor]="appMenu">
  <md-icon>File</md-icon>
</button>

<!--md-tab-group>
  <md-tab label="One">
    <h1>Some tab content</h1>
    <p>...</p>
  </md-tab>
  <md-tab label="Two">
    <h1>Some more tab content</h1>
    <p>...</p>
  </md-tab>
</md-tab-group-->
<br><br/>

<div class="page-header">
  <div class="container">
    <div class="navLinks">
      <a [routerLink]="['/rcm']">RCM</a>
      <a [routerLink]="['/exciter']">EXCITER</a>
    </div>
  </div>
</div>

<div id="content">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
