$check-box-state: #d1dae5;

$accordion-grey: #546d75;

$accordion-grey-content: #636f76;

$accordion-background: #ffffff;

$drop-down-border: #d3d3dd;

$drop-down-item-background: #d1dae6;

$input-border: #c0c1c8;

$input-hover: #f8f8f8;

$input-disabled: #f1f1f1;

$button-primary-hover: #d1dae6;

$button-primary-focus: #c8d0db;

$table-columns-background: #e9eef6;

$table-border-regular: #d3ddef;

$table-columns-headers: #367084;

$table-row-hover-background: #f4f5f7;

$table-row-hover-border: #96eeff;

$table-row-pressed-border: #56dbf7;;

$table-row-text: #4c545a;

$table-special-column: #d3deed;

$toolbar-hover: #083e4f;

$toolbar-pressed: #062c38;

$menu-sub-items-background: #094b5e;

$toolbar-separator: #3a7384;

$drop-down-hover: #61a3b8;

$check-box-check-mark: #11a598;

$check-box-border: #c9d3e0;

$check-box-hover-background: #f5f7f9;

$tab-text-regular: #363f45;

$tab-border-primary: #00c6b5;

$tabs-background-border: #dfe5e8;

$tab-background: #f0f3f5;

$app-grey-background: #dee4e6;
