@import "./assets/scss/reset";
@import './assets/scss/controls/controls';
@import 'assets/images/icons/sprite.scss';

@include sprites($spritesheet-sprites);

[class*="icon-"] {
  display: inline-block;
  font-style: normal;
  color: inherit;
  i:before {
    font-style: normal;
    font-weight: normal !important;
    vertical-align: top;
  }

}

html, body {
  height: 100%;
  width: 100%;
  font-family: "Open Sans", sans-serif !important;
  font-size: 12px;
  overflow: hidden;
}

